@use 'variaveis';

.trailer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    .title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .trailer__video {
        margin-bottom: 1rem;
        position: relative;
        padding-bottom: 56.25%; 
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .trailer__description {
        .title--small {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        .text {
            font-size: 1rem;
        }
    }

    @media (max-width: 768px) {
        .trailer__video {
            padding-bottom: 75%;
        }
    }

    @media (min-width: 769px) and (max-width: 1023px) {
        .trailer__video {
            padding-bottom: 60%; 
        }
    }
}